@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@200&display=swap');

body{
    background: #e6e8e6;
    font-family: "IBM Plex Sans Thai";
}
header{
    display: flex;
    align-items: center;
    font-size: 45px;
}
header img{
    width: 5%;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container h3{
    margin: 0px;
}
.escolha{
    display: flex;
    padding: 2%;
    width: 60%;
    border-radius: 10px;
    justify-content: center;
}
#select{
    font-family: "IBM Plex Sans Thai";
    margin: 10px;
    width: 30%;
}
#incremento{
    font-family: "IBM Plex Sans Thai";
    margin: 10px;
}
.cifra{
    margin: 10px 50px;
}
#button{
    width: 15%;
    border-radius: 5px;
    border: none;
    background: rgb(108, 186, 229);
    color: #e6e8e6;
    padding: 10px 0px;
    font-size: 20px;
    font-family: "IBM Plex Sans Thai";
    font-weight: bold;
    cursor: pointer;
    margin: 15px
}
#button:active{
    box-shadow: inset 0 0 5px white;
}
.mensagem{
    display: flex;
    width: 100%;
}
.box{
    resize: none;
    font-family: "IBM Plex Sans Thai";
    font-size: 20px;
    margin: 25px 25px;
    border-radius: 10px;
    border: none;
    width: 50%;
    box-shadow: -4px 7px 20px 1px grey;
}
.box:focus{
    outline-color: rgb(108, 186, 229);
}
footer{
    position: fixed;
    bottom: 0px;
    transform: translateX(-50%);
    left: 50%;
    margin: 10px
}
.hidden{
    display: none;
}

@media(max-width:600px){

    header{
        justify-content: center;
    }
    header img{
        width: 20%;
    }
    .container h3{
        margin: 15px;
        font-size: 13px;
    }
    .escolha{
        flex-direction: column;
    }
    #select{
        width: 100%;
        margin: 10px 0px;
    }
    #incremento{
        margin: 10px 0px;
    }
    .cifra{
        margin: 0px;
    }
    .mensagem{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .box{
        width: 80%;
        height: 100px;
        margin: 10px;
    }
    #button{
        width: 35%;
        padding: 5px;
        font-size: 20px;
    }
    footer{
        display: flex;
        justify-content: center;
        font-size: 12px;
        width: 100%;
    }
}
